<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <!--eStarMaster is used once to connect to master DB and create new DB-->
    <add name="eStarMaster" connectionString="Data source=(local); TrustServerCertificate=true;Initial Catalog=master;Integrated Security=True;" />
    <!--eStarTest is used for all other purposes-->
    <add name="eStarTest" connectionString="Data source=(local); TrustServerCertificate=true;Initial Catalog=eStarTest;Integrated Security=True;" />
  </connectionStrings>
  <appSettings>
    <add key="products" value="products.csv" />
    <add key="pricing" value="pricing.csv" />
    <add key="stock" value="stock.csv" />
    <add key="error" value="error.txt" />
    <add key="price_update" value="pricing_update.csv" />
    <add key="stock_update" value="stock_update.csv" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>