<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>    
    <!--eStarTest is used for eStarTest DB -->
    <add name="eStarTest" connectionString="Data source=(local); TrustServerCertificate=true;Initial Catalog=eStarTest;Integrated Security=True;" />
  </connectionStrings>
  <appSettings>
    <add key="report_1" value="report_2_1.csv" />
    <add key="report_2" value="report_2_2.csv" />
  </appSettings>
</configuration>